.skeleton {
  width: 300px;
  padding: 20px;
  background-color: #333; /* Cambiado a un gris más fuerte */
  border-radius: 8px;
  margin-bottom: 20px;
}

.skeleton-img {
  height: 200px;
  margin-block-end: 10px;
  border-radius: 11px;
}

.skeleton-title,
.skeleton-description,
.skeleton-ingredients {
  height: 20px;
  background-color: #555; /* Cambiado a un gris aún más fuerte */
  margin-bottom: 10px;
}

.skeleton-img {
  width: 100%;
}

.skeleton-title {
  width: 80%;
}

.skeleton-description {
  width: 90%;
}

.skeleton-ingredients {
  width: 70%;
}

/* Animación de carga */
@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-img,
.skeleton-title,
.skeleton-description,
.skeleton-ingredients {
  animation: loading 1.5s infinite linear;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  background-size: 200px 100%;
}

.card {
  inline-size: 300px;
  border: none;
  border-radius: 11px;
  background: var(--bg-gradient);
  color: var(--white);
  text-decoration: none;
  padding: 1rem;

  .recipe-img {
    width: 100%;
    height: 200px;
    border-radius: 11px;
    overflow: hidden;

    img {
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
      vertical-align: middle;
    }
  }

  .card-title {
    font: var(--headline2-medium);
    margin-block-start: 8px;
    margin-block-end: 0px;
  }

  .card-description {
    font: var(--body1-regular);
    margin-block-start: 0;
    margin-block-end: 32px;
  }

  .card-ingredients {
    display: flex;
    gap: 8px;
  }
}

.tag {
  display: inline-flex;
  user-select: none;
  background-color: var(--white);
  color: var(--blue);
  font: var(--body2-semibold);
  border-radius: 8px;
  padding-block: 4px;
  padding-inline: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
