---
import Layout from '@/layouts/Layout.astro'
import { CardRecipe } from '@/components/CardRecipe'
import { ChangeRecipeButton } from '@/components/ChangeRecipeButton'
---

<Layout title="Random">
  <main>
    <div class="card-container">
      <ChangeRecipeButton client:load />
      <CardRecipe client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    inline-size: 100vw;
    block-size: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
</style>
