---
interface Props {
  name: string
}

const { name } = Astro.props
---

<span class="tag">{name}</span>

<style>
  .tag {
    user-select: none;
    background-color: var(--white);
    color: var(--blue);
    font: var(--body2-semibold);
    border-radius: 8px;
    padding-block: 4px;
    padding-inline: 8px;
  }
</style>
