---
interface Props {
  color: string
  width?: string
  height?: string
}

const { color, width = '100%', height = '100px' } = Astro.props
---

<div class={`light ${color}`} style={`width: ${width}; height: ${height}`}>
</div>

<style>
  .light {
    position: absolute;
    border: none;
    z-index: 1;
    block-size: 100px;
    top: 0;

    &.blue {
      opacity: 0.2;
      background: linear-gradient(
        rgba(0, 133, 208, 1) 0%,
        rgba(0, 132, 208, 0) 100%
      );
    }

    &.pink {
      opacity: 0.15;
      background: linear-gradient(#ff00e5 0%, #ff00e600 100%);
    }
  }
</style>
